@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.App {
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
}

.mainPageBG {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.aboutPageTitle{
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.notFoundPageTitle{
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.notFoundPageLink {
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutPageText {
  pointer-events: none;
}

::-webkit-scrollbar {
    width: 0; 
}

.aboutPage {
  animation: fadeIn1 0.1s;
}

.notFoundPage {
  animation: fadeIn1 0.1s;
}

.bookPage {
  animation: fadeIn1 0.1s;
} 

.bgBookPage {
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: contain;
}

.bgShadowMainPage {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.bookingMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 900px;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: fadeIn1 1s;
}

.bookingButton {
  animation: fadeIn1 1s;
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  width: 20%;
  height: 50px;
  position: relative;
  top: 15px
}

.textMainPage {
  animation: fadeIn1 2s;
}

.subtitleMainPage {
  animation: fadeIn2 2s;
}

.buttonMainPage {
  animation: fadeIn3 2s;
}

.card {
  animation: fadeIn1 0.5s;
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}