@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

@font-face {
  font-family: 'Futura';
  src: url(./data/fonts/unicode.futurab.ttf) format('truetype');
}

.App {
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
}

.mainPageBG {
  width: 100svw;
  width: 100vw;
  height: 100svh;
  height: 100vh;
  z-index: 0;
}

.aboutPageTitle{
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.notFoundPageTitle{
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.notFoundPageLink {
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgb(253, 187, 45) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutPageText {
  pointer-events: none;
}

::-webkit-scrollbar {
    width: 0; 
}

.scrollableTable::-webkit-scrollbar {
  width: 10px;
}

.scrollableTable::-webkit-scrollbar-track {
  background: linear-gradient(180deg, rgba(34, 193, 195, 1) 0%, rgb(253, 187, 45) 100%);
}

.scrollableTable::-webkit-scrollbar-thumb {
  background: #888888ad;
}

.scrollableTable::-webkit-scrollbar-thumb:hover {
  background: #555555ad;
}

.cartPageMenu{
  animation: fadeIn1 1s;
  display: flex;
  justify-content: center;
  text-align: center;
}

.removeTableRow {
  animation: removeTableRow 2s;
}

.accessForms {
  animation: fadeIn1 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35svw;
  width: 35vw;
  min-width: 300px;
  height: 70svh;
  height: 70vh;
  min-height: 640px;
  background: linear-gradient(135deg, #22c0c3cc 0%, rgba(253, 187, 45, 0.7) 100%);
}

.profileDashboard {
  animation: fadeIn1 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45svw;
    width: 45vw;
    min-width: 300px;
    height: 70svh;
    height: 70vh;
    min-height: 640px;
    background: linear-gradient(135deg, #22c0c3cc 0%, rgba(253, 187, 45, 0.7) 100%)
}



@media only screen and (max-width: 1100px) {
  .accessForms {
    width: 65vw;
    height: 60vh;
    font-size: 30rem;
  }
}

@media only screen and (max-width: 1250px) {
  .profileDashboard {
      width: 65vw;
      height: 90vh;
      font-size: 30rem;
    }
}

.btnSubmit:hover {
  background: #ffffff49;
}

.aboutPage {
  animation: fadeIn1 0.1s;
}

.notFoundPage {
  animation: fadeIn1 0.1s;
}

.bookPage {
  animation: fadeIn1 0.1s;
} 

.bgBookPage {
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: contain;
}

.bgShadowMainPage {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.bookingMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 900px;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: fadeIn1 1s;
}

.bookingButton {
  animation: fadeIn1 1s;
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  width: 20%;
  height: 50px;
  position: relative;
  top: 20px
}

.textMainPage {
  animation: fadeIn1 2s;
}

.subtitleMainPage {
  animation: fadeIn2 2s;
}

.buttonMainPage {
  animation: fadeIn3 2s;
}

.card {
  animation: fadeIn1 0.5s;
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes removeTableRow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (min-height: 300px) {
  .custom-shape-divider-bottom-1679680709 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }
  
    .custom-shape-divider-bottom-1679680709 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 15vh;
    }
  
    .custom-shape-divider-bottom-1679680709 .shape-fill {
      fill: #22C0C3CC;
    }
}

@media only screen and (max-height: 700px) {
  .custom-shape-divider-bottom-1679680709 {
      content-visibility: hidden;
    }
  
    .custom-shape-divider-bottom-1679680709 svg {
      content-visibility: hidden;
    }
  
    .custom-shape-divider-bottom-1679680709 .shape-fill {
      content-visibility: hidden;
    }
}

@media only screen and (max-width: 800px) {
  .custom-shape-divider-bottom-1679680709 {
    content-visibility: hidden;
  }

  .custom-shape-divider-bottom-1679680709 svg {
    content-visibility: hidden;
  }

  .custom-shape-divider-bottom-1679680709 .shape-fill {
    content-visibility: hidden;
  }
}